<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.js"></script>
	<link rel="stylesheet" href="style.css">
	<script type="text/javascript" src="controller.js"></script>
</head>
<body ng-controller="myController" ng-style="{color: myColor}">

	<div id="wrapper">
		<header id="header" class="">
			<h1>Consider the following...</h1>
		</header><!-- /header -->

		<div class="item" ng-repeat="person in classObject">
			Name: {{person.name}}....{{person.desc}}

			<input type="checkbox"  ng-model="item.checked">
			<span ng-show="item.checked" ng-class="{'accepted' : item.understand}">(True)</span>
		</div>

		<div class="colorInput">
			<input type="text" ng-model="myColor" placeholder="Enter a color">
		</div>

		<div class="the-consequences">
			<div class="item"> I understand the consequences
				<input type="checkbox" ng-model="item.understand">
			</div>
			<div class="item" ng-hide="myColor=='red'">
				If the color is red then this div gets hidden
			</div>
			<div class="item" ng-show="item.understand">
				I accept full responsibility for all the checkboxs marked true.
			</div>
		</div>


	</div>

</body>
</html>